@import "colors.less";
@import "typography.less";
@import "images.less";
@import "headings.less";
@import "navigation.less";
@import "login.less";
@import "codemirror.less";
@import "article-editor.less";
@import "posts.less";

body {
  background-color: @background-color;
}

a {
  color: @font-link-color;
  text-decoration: none;
}

.centered {
  text-align: center;
}

